* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

html, body {
overflow-x: hidden;
}

.header {
    width: 80%;
    margin: 0 auto;
}

body {
    background: radial-gradient(126.67% 350.28% at -21.35% 0%,
    hsl(219 58% 16%) 0%, hsl(0 0% 4%) 39.1%, hsl(220 94% 13% / .837641) 94.57%,
    hsl(220 94% 13% / .0) 100%);
    font-family: 'Cantarell';
    font-weight: 100;
    background-color: hsl(0 0% 4%);
    color: #FFFF;
}
