    $white-color: #FFFF;
    $gray-color: #808080;
    $purple-color: hsl(248 57% 41%);
    $blue-color: hsl(220 90% 29%);
    $navybleu-color: hsl(220 94% 13%);
    $pink-color: hsl(287 77% 77%);
    $light-bleu-color: hsl(261 21% 64%);
    $light-lilac-color: hsl(300 58% 88%);
    $translucent-hsl:(0 0% 100%) hsl(0 0% 100% / .5);
    $body-bg: radial-gradient(126.67% 350.28% at -21.35% 0%,
    hsl(219 58% 16%) 0%, hsl(0 0% 4%) 39.1%, hsl(220 94% 13% / .837641) 94.57%,
    hsl(220 94% 13% / .0) 100%);