.main-enigme  {
    .section1 {
        background-image: url(../Illustration+Logo/3_Page_Enigme/Pantherenigme1.png);
        background-size: cover;
        margin-top: -180px;
        height: 920px;
        width: 920px;
        animation: fade-in 2s ease-in-out forwards;

        .section1-text {
            width: 397px;
            margin-left: 785px;
            padding-top: 200px;

            h1 {
                font-family: 'beyno';
                font-size: 45px;
                font-weight: lighter;
                color: $light-bleu-color;
                margin-top: 165px;
                margin-bottom: -25px;
               }

               h1:hover {
                transform: scale(1.2);
               }
               
               p {
                position: absolute;
                width: 332px;
                font-family: 'Cantarell';
                font-size: 10px;
                text-align: justify;
                margin-top: 180px;
                margin-left: 87px;
                word-wrap: break-word;
               }
    
              p:hover {
                transform: scale(1.2);
               }           
           }
        
          .section1-image {
             margin-left: 767px;

             .img1 {
              width: 660px;
              position: absolute;
             }   
             
             .img2 {
              width: 35px;
              margin-top: 300px;
              margin-left: 200px;
             }
          }
            
       }

     @keyframes fade-in {
        0% {
          opacity: 0;
          transform: translateX(-100%);
        }
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      } 
     
    .section2 {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-left: 150px;
        padding-right: 150px;

        .left {
            animation: fade-in 2s ease-in-out forwards;

            h2 {
                font-family: 'beyno';
                font-size: 16px;
                word-spacing: 5px;
                text-decoration: underline;
                color: $light-bleu-color;
                padding-bottom: 12px;
               }

            h3 {
                font-family: 'Cantarell';
                font-size: 12px;
                font-weight: lighter;
                padding-bottom: 8px;
               }
             
            p  {
                font-family: 'Cantarell';
                font-size: 12px;
                padding-bottom: 35px;
                
               }  
               
             p:hover {
                transform: scale(1.2);
               }
                  
           }
        
           @keyframes fade-in {
            0% {
              opacity: 0;
              transform: translateX(-100%);
            }
            100% {
              opacity: 1;
              transform: translateX(0);
            }
          } 

          q {
            font-family: 'Wakandaforever';
            font-size: 20px;
            color: $light-bleu-color;
            word-spacing: 10px;
            line-height: 1.5;
          }
          
        .my-form {
            display: block;
            padding-top: 35px;
            padding-bottom: 30px;

            input {
                font-family: 'Cantarell';
                font-size: 10px;
               }

            input[type='text'] {
                padding: 8px 180px 10px 25px;
                border-radius: 25px;
                background-color: transparent;
                margin-bottom: 40px;
                border-color: #FFFF;
               }  
               
            input[type='submit'] {
                padding: 10px 30px;
                border-radius: 25px;
                background-color: $light-lilac-color;
                margin-left: 90px;
                border-color: $light-lilac-color;
               }

            /*Animation bouton du formulaire enigme*/
            input[type='submit']:hover {
                box-shadow: 0 0 5px $light-lilac-color;
               }       
           }  
        
        .right {
            .para {
                position: absolute;
                bottom: -350px;
                left: 755px;
                }
                    
            h3 {
                font-family: 'Cantarell';
                font-size: 12px;
                font-weight: lighter;
                padding-bottom: 8px;
              } 
            
            p {
              width: 372px;
              font-family: 'Cantarell';
              font-size: 12px;

              span {
                font-family: 'WakandaForever';
                font-size: 12px;
                word-spacing: 5px;
                width: 375px;
               }
          
            }

            img {
              width: 560px;
            }
        }   
       }  
}